<style>
    table.notebooks td {
        padding-left: 10px;
        padding-right: 10px;
    }

    table.notebooks tr:hover {
        background-color: rgb(237, 245, 225);
    }
</style>

<table class="notebooks">
    {% for notebook in page.notebook_list %}
    <tr>
        <td>
            <b>{{notebook}}.ipynb</b>
        </td>
        <td>
            <a href="{{site.baseurl}}/assets/notebooks/{{notebook}}.ipynb" target="_blank">notebook file</a>
        </td>
        <td>
            <a href="{{site.baseurl}}/assets/notebooks/{{notebook}}.html" target="_blank">HTML version</a>
        </td>
    </tr>
    {% endfor %}
</table>